[submodule "themes/hugo-researcher"]
	path = themes/hugo-researcher
	url = git@github.com:askin/hugo-researcher.git
[submodule "static/resume"]
	path = static/resume
	url = git@github.com:askin/resume.git
